extends layout

block content
  h1= title

  p Watch videos

  ul
    li 
        a(href="/diftv") DIFTV
    li
        a(href="/highlights") Highlights

  p Scrape new videos

  ul
    li 
        a(href="/scraper/diftv") Scrape DIFTV
    li
        a(href="/scraper/highlights") Scrape Highlights
